$base: #1663c7;
$main: #d9dee6;
$accent: #FF6307;
$text: #333e4b;
$light: #f8f9fb;
$dark: #d4dae2;

*,
*::after,
*::before {
  box-sizing: inherit;
}

@-webkit-keyframes icon-appear {
  0% { -webkit-transform: scale(0) rotate(-45deg) }
  100% { -webkit-transform: scale(1) rotate(0deg) }
}
@keyframes icon-appear {
  0% { transform: scale(0) rotate(-45deg) }
  100% { transform: scale(1) rotate(0deg) }
}

@-webkit-keyframes text-appear {
  0% { -webkit-transform: translateY(100%); opacity: 0; }
  100% { -webkit-transform: translateY(0); opacity: 1; }
}
@keyframes text-appear {
  0% { transform: translateY(100%); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

@-webkit-keyframes pulse {
  0% { -webkit-transform: scale(.9); }
  50% { -webkit-transform: scale(1.1); }
  100% { -webkit-transform: scale(.9); }
}
@keyframes pulse {
  0% { transform: scale(.9); }
  50% { transform: scale(1.1); }
  100% { transform: scale(.9); }
}

html, body {
  height: 100%;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6em;
  line-height: 1.6;
  margin: 0;
  color: $text;
  background-color: $light;
}

a {
  text-decoration: none;
}

.sb-section, .sb-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $dark;
}

.sb-section:nth-child(2) {
  border-right: 2rem solid rgba(58, 208, 249, 0.2);
  padding-left: 2rem;
}

.sb-section:nth-child(3) {
  border-left: 2rem solid rgba(251, 208, 0,0.2);
  padding-right: 2rem;
}

.sb-section:nth-child(4) {
  border-right: 2rem solid rgba(252, 139, 164, 0.3);
  padding-left: 2rem;
}

article {
  padding: 0 3rem;
  margin: 3.2rem 0;
}

h1 {
  text-align: center;
  font-weight: 700;
  font-size: 3.2rem;
  margin-top: 0;
}

h4 {
  font-weight: 400;
  font-size: 1.6rem;
}

.intro-text {
  opacity: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-animation: text-appear .3s cubic-bezier(.4,0,.2,1);
  animation: text-appear .3s cubic-bezier(.4,0,.2,1);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@for $i from 1 through 3 {
  .intro-text:nth-of-type(#{$i}) {
    -webkit-animation-delay: .5s + $i * .1s;
    animation-delay: .5s + $i * .1s;
  }
}

.link-bar {
  display: flex;
  justify-content: center;
}

.link-container {
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-animation: icon-appear .3s cubic-bezier(.4,0,.2,1);
  animation: icon-appear .3s cubic-bezier(.4,0,.2,1);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  margin: 0 1rem;
  width: 4rem;
  height: 4rem;
}

@for $i from 1 through 3 {
  .link-container:nth-child(#{$i}) {
    -webkit-animation-delay: .9s + $i * .1s;
    animation-delay: .9s + $i * .1s;
  }
}

.link-container svg {
  fill: $text;
  width: 4rem;
  height: 4rem;
  transition: fill .2s, transform .2s;
}

.link-container:hover svg {
  fill: $accent;
}

.link-container:active svg {
  -webkit-transform: scale(.9);
  transform: scale(.9);
}

.logo-container {
  text-align: center;
}

.sb-intro .logo-container {
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-animation: icon-appear .3s cubic-bezier(.4,0,.2,1);
  animation: icon-appear .3s cubic-bezier(.4,0,.2,1);
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.logo-container img {
  width: 8rem;
  height: 8rem;

}

.showcase {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3.2rem;
}

.project {
  width: 26rem;
  margin: 1rem 0;
  height: 26rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center top;
}

.project-infos {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(62,70,80,.8);
  color: $light;
}

.project-name, .project-desc {
  text-align: center;
}

.project-logos {
  display: flex;
  justify-content: center;
}

.project-name, .project-tech, .project-desc {
  margin: 1.6rem 0;
}

.project-tech {
  text-align: center;
  text-transform: capitalize;
  max-width: 8rem;
}

.project-tech img {
  display: inline-block;
  width: 100%;
  height: 4rem;
  width: 4rem;
}

footer {
  text-align: center;
  padding: 2rem 6rem;
}

footer span {
  display: inline-block;
  -webkit-animation: pulse 2s ease-in-out 0s infinite;
  animation: pulse 2s ease-in-out 0s infinite;
}

strong {
  color: $accent;
}

@media (min-width: 640px) {

  article {
    max-width: 86%;
  }

  h4 {
    font-size: 2.2rem;
  }

  .project {
    margin: 2rem 2rem;
  }

  .sb-intro {
    padding: 0 6rem;
  }

  .sb-section:nth-child(2) {
    border-right-width: 6rem;
    padding-left: 6rem;
  }

  .sb-section:nth-child(3) {
    border-left-width: 6rem;
    padding-right: 6rem;
  }

  .sb-section:nth-child(4) {
    border-right-width: 6rem;
    padding-left: 6rem;
  }

}

@media (min-width: 900px) {

  .project-infos {
    background-color: rgba(62,70,80,.9);
    opacity: 0;
    transition: opacity .3s cubic-bezier(.4,0,.2,1);
  }

  .project-name, .project-tech, .project-desc {
    -webkit-backface-visibility: hidden;
    transform: translateY(75%);
    opacity: 0;
    transition: transform .3s cubic-bezier(.4,0,.2,1), opacity .3s cubic-bezier(.4,0,.2,1);
  }

  .project:hover {
    .project-infos, .project-name, .project-desc, .project-tech { opacity: 1; }
    .project-name, .project-desc, .project-tech { transform: translateY(0); }
    .project-desc { transition-delay: .1s; }
    @for $i from 1 through 3 {
      .project-tech:nth-child(#{$i}) {
        transition-delay: .2s + $i * .05s;
      }
    }
  }

  .sb-section, .sb-intro {
    min-height: 100vh;
  }
}
