@import "./variables.scss";

*,
*::after,
*::before {
  box-sizing: inherit;
}

@-webkit-keyframes icon-appear {
  0% { -webkit-transform: scale(0) rotate(-45deg) }
  100% { -webkit-transform: scale(1) rotate(0deg) }
}
@keyframes icon-appear {
  0% { transform: scale(0) rotate(-45deg) }
  100% { transform: scale(1) rotate(0deg) }
}

@-webkit-keyframes text-appear {
  0% { -webkit-transform: translateY(100%); opacity: 0; }
  100% { -webkit-transform: translateY(0); opacity: 1; }
}
@keyframes text-appear {
  0% { transform: translateY(100%); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: $fontFamily;
  font-size: 1.6em;
  line-height: 1.6;
  margin: 0;
  color: $textColor;
  background-color: $lightGrey;
  font-weight: $regularWeight;
}

a {
  text-decoration: none;
  color: $textColor;
}

.sb-section, .sb-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $grey;
  min-height: 100vh;
}

.sb-intro {
  border-left: $baseSpacing solid rgba(255, 99, 7, 0.9);
  padding-right: $baseSpacing;
}

.sb-section:nth-child(2) {
  border-right: $baseSpacing solid rgba(58, 208, 249, 0.9);
  padding-left: $baseSpacing;
}

.sb-section:nth-child(3) {
  border-left: $baseSpacing solid rgba(251, 208, 0, 0.9);
  padding-right: $baseSpacing;
}

.sb-section:nth-child(4) {
  border-right: $baseSpacing solid rgba(252, 139, 164, 0.9);
  padding-left: $baseSpacing;
}

article {
  padding: 0 $baseSpacing * 1.5;
  margin: $baseSpacing * 1.5 0;
}

h1 {
  text-align: center;
  font-weight: $boldWeight;
  font-size: $hugeSize;
  margin-top: 0;
  margin-bottom: $baseSpacing * 1.5;
}

h4 {
  font-weight: $regularWeight;
  font-size: $mediumSize;
}

.intro-text {
  opacity: 0;
  transform: translateY(100%);
  -webkit-animation: text-appear .3s cubic-bezier(.4,0,.2,1);
  animation: text-appear .3s cubic-bezier(.4,0,.2,1);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@for $i from 1 through 3 {
  .intro-text:nth-of-type(#{$i}) {
    -webkit-animation-delay: .5s + $i * .1s;
    animation-delay: .5s + $i * .1s;
  }
}

.link-bar {
  display: flex;
  justify-content: center;
  margin-top: $baseSpacing * 1.5;
}

.link-container {
  transform: scale(0);
  -webkit-animation: icon-appear .3s cubic-bezier(.4,0,.2,1);
  animation: icon-appear .3s cubic-bezier(.4,0,.2,1);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  margin: 0 $baseSpacing / 2;
  width: $baseSpacing * 2;
  height: $baseSpacing * 2;
}

@for $i from 1 through 3 {
  .link-container:nth-child(#{$i}) {
    -webkit-animation-delay: .9s + $i * .1s;
    animation-delay: .9s + $i * .1s;
  }
}

.link-container svg {
  fill: $textColor;
  width: $baseSpacing * 2;
  height: $baseSpacing * 2;
  transition: fill .2s, transform .2s;
}

.link-container:hover svg {
  fill: $accentColor;
}

.link-container:active svg {
  transform: scale(.9);
}

.logo-container {
  text-align: center;
  margin-bottom: $baseSpacing * 1.5;
}

.sb-intro .logo-container {
  transform: scale(0);
  -webkit-animation: icon-appear .3s cubic-bezier(.4,0,.2,1);
  animation: icon-appear .3s cubic-bezier(.4,0,.2,1);
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.logo-container img {
  border-radius: 50%;
  width: $baseSpacing * 4;
  height: $baseSpacing * 4;
  vertical-align: middle;
}

.showcase {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: $baseSpacing * 1.5;
}

.project {
  width: 24rem;
  margin: $baseSpacing / 2 0;
  height: 26rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center top;
}

.project-infos {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(62,70,80,.8);
  color: $lightGrey;
}

.project-name, .project-desc {
  text-align: center;
}

.project-logos {
  display: flex;
  justify-content: center;
}

.project-name, .project-tech, .project-desc {
  margin: 1.6rem 0;
}

.project-tech {
  text-align: center;
  text-transform: capitalize;
  max-width: $baseSpacing * 4;
}

.project-tech img {
  display: inline-block;
  width: 100%;
  height: $baseSpacing * 2;
  width: $baseSpacing * 2;
}

footer {
  text-align: center;
  padding: $baseSpacing $baseSpacing * 3;
}

strong {
  color: $accentColor;
}

@media (min-width: $mobileBreakpoint) {
  article {
    width: 120rem;
    max-width: 86%;

    &.intro {
      width: 88rem;
    }
  }

  h4 {
    font-size: $largeSize;
  }

  .showcase {
    flex-direction: row;
  }
  
  .project {
    margin: $baseSpacing;
    width: 26rem;
  }

  .sb-intro {
    border-left-width: $baseSpacing * 2;
    padding-right: $baseSpacing * 2;
  }

  .sb-section:nth-child(2) {
    border-right-width: $baseSpacing * 2;
    padding-left: $baseSpacing * 2;
  }

  .sb-section:nth-child(3) {
    border-left-width: $baseSpacing * 2;
    padding-right: $baseSpacing * 2;
  }

  .sb-section:nth-child(4) {
    border-right-width: $baseSpacing * 2;
    padding-left: $baseSpacing * 2;
  }
}

@media (min-width: $tabletBreakpoint) {
  .project {
    box-shadow: inset 0px 0px 2px 1px rgba(62,70,80,.4);
  }

  .project-infos {
    background-color: rgba(62,70,80,.9);
    opacity: 0;
    transition: opacity .3s cubic-bezier(.4,0,.2,1);
  }

  .project-name, .project-tech, .project-desc {
    -webkit-backface-visibility: hidden;
    transform: translateY(75%);
    opacity: 0;
    transition: transform .3s cubic-bezier(.4,0,.2,1), opacity .3s cubic-bezier(.4,0,.2,1);
  }

  .project:hover {
    .project-infos, .project-name, .project-desc, .project-tech { opacity: 1; }
    .project-name, .project-desc, .project-tech { transform: translateY(0); }
    .project-desc { transition-delay: .1s; }
    @for $i from 1 through 3 {
      .project-tech:nth-child(#{$i}) {
        transition-delay: .2s + $i * .05s;
      }
    }
  }
}
