$baseColor: #1663c7;
$accentColor: #ff6307;
$textColor: #333e4b;
$lightGrey: #f8f9fb;
$grey: #d4dae2;

$baseSpacing: 2rem;

$fontFamily: 'Raleway', sans-serif;

$regularSize: 1rem;
$mediumSize: 1.6rem;
$largeSize: 2.2rem;
$hugeSize: 3.2rem;

$regularWeight: 400;
$boldWeight: 700;